doctype html
html
  head
      block head
        title="Good Movies"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(href="https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@300&family=Poppins:wght@300&display=swap" rel="stylesheet")
  body
    nav
      ul
        li Log in
        li Sign up
    block content
