extends layout

append head
    link(rel='stylesheet' href='/stylesheets/user-login.css')

block content
    h2 Log in to Good Movies
        #errors
            if errors
                    p The following error(s) occurred:
                    ul
                        each error in errors
                            li= error
        .form
            form(action="/login" method="post")
                input(type="hidden" name="_csrf" value=csrfToken)
                label(for="email") Email:
                input(type="email" name="email" value=email)
                label(for="password") Password:
                input(type="password" name="password")
                button(type="submit") Log In
            a(href="/signup") Don't have an account?
            div
                a(href="/") Continue as Demo User.
