body {
    font-family: 'Mukta', sans-serif;
    background-color: rgb(244, 239, 235)
}

h1 {
    color: rgb(68, 33, 17);
    text-align: center;
}

nav {
    text-align: right;
    background-color: rgb(223, 200, 176)
}

ul > li {
    display: inline;
    margin: 2rem;
    padding: 1rem;
}
