extends layout-nav

append head
    link(rel="stylesheet" href="/stylesheets/about.css")
    script(src="https://kit.fontawesome.com/694a26d7c0.js" crossorigin="anonymous")


block content
    div(class="about-page-body")
        div
            h2(class="about-page-title") Check Out Our Dev Team
            div(class="team-list")
                div(class="team-member")
                    div(class="team-member-name") Mia Joubert
                        a(href="https://miajoubert.github.io/" target="_blank" rel="noopener noreferrer")
                            div
                                i(class="fa-solid fa-folder about-link")   Portfolio
                    div(class="team-member-icons")
                        a(href="https://github.com/miajoubert" target="_blank" rel="noopener noreferrer")
                            div(class="team-member-github")
                                i(class="fa-brands fa-github about-link")   Github
                        a(href="https://www.linkedin.com/in/miajoubert/" target="_blank" rel="noopener noreferrer")
                            div(class="team-member-linkedin")
                                i(class="fa-brands fa-linkedin about-link")   LinkedIn
                div(class="team-member")
                    div(class="team-member-name") Katerina Kreibich
                        a(href="http://www.katerina-kreibich.me/" target="_blank" rel="noopener noreferrer")
                            div
                                i(class="fa-solid fa-folder about-link")   Portfolio
                    div(class="team-member-icons")
                        a(href="https://github.com/Code-rina" target="_blank" rel="noopener noreferrer")
                            div(class="team-member-github")
                                i(class="fa-brands fa-github about-link")   Github
                        a(href="https://www.linkedin.com/in/katerina-kreibich-7a79a251/" target="_blank" rel="noopener noreferrer")
                            div(class="team-member-linkedin")
                                i(class="fa-brands fa-linkedin about-link")   LinkedIn
                div(class="team-member")
                    div(class="team-member-name") Brandon Copeland
                        a(href="https://brandoncope.github.io/" target="_blank" rel="noopener noreferrer")
                            div
                                i(class="fa-solid fa-folder about-link")   Portfolio
                    div(class="team-member-icons")
                        a(href="https://github.com/BrandonCope" target="_blank" rel="noopener noreferrer")
                            div(class="team-member-github")
                                i(class="fa-brands fa-github about-link")   Github
                        a(href="https://www.linkedin.com/in/brandoncopeland97/" target="_blank" rel="noopener noreferrer")
                            div(class="team-member-linkedin")
                                i(class="fa-brands fa-linkedin about-link")   LinkedIn
