extends layout-nav

append head
  //- add page specific styles by appending to the head
  link(rel='stylesheet' href='/stylesheets/index.css')
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block nav
block content
  .buttonsContainer
    form(class="signup" action="/signup" method='get')
      input(type="hidden" name="_csrf" value=csrfToken)
      button.home(type="submit") Sign Up
    form(class="login" action="/login" method='get')
      input(type="hidden" name="_csrf" value=csrfToken)
      button.home(type="submit") Log In
    form(class="movies" action="/movies" method='get')
      input(type="hidden" name="_csrf" value=csrfToken)
      button.home(type="submit" id="demo_button") See Movies
    form(class="demo" action="/" method='post')
      input(type="hidden" name="_csrf" value=csrfToken)
      button.home(type="submit" id="demo_button") Demo User
