extends layout-nav

append head
  link(rel='stylesheet' href='/stylesheets/shelves.css')

block content
  .shelves_title
    h2 Edit Shelf Title
    form(method="post" action=`/shelves/${shelf.id}/edit`)
      input(type="hidden" name="_csrf" value=csrfToken)
      div
        .shelf_title_input
          input(type="text" name="shelf_title" value=shelf.title)
          button(type="submit" id='review_button') Update Title
