append head
    link(rel='stylesheet' href='/stylesheets/shelves.css')

mixin shelves(shelf)
  form(class='rating-form' action=`/shelves/addToShelf` method="post")
    input(type="hidden" name="_csrf" value=csrfToken)
    //- input(type="hidden" name="user_id" value=user_id)
    //- input(type="hidden" name="movieId" value=movieId)
    select(name="shelf" class="custom-select-shelves" value=shelf_title)
      option(value="") MOVIE SHELF 1
      option(value="2") 2
      option(value="3") 3
