extends layout-nav

append head
  link(rel='stylesheet' href='/stylesheets/shelves.css')

block content
  .shelves_title
    h2 Edit Shelf Title
    form(class='shelf-form' action=`/shelves/${shelf.id}/edit` method="post")
      input(type="hidden" name="_csrf" value=csrfToken)
      input(type="text" value=`${shelf.shelf_title}` class="shelf_title" name="shelf_title" placeholder="Shelf title...")
      button(type="submit" class='add-shelf-button') Edit Shelf
    .shelf_errors
