body {
  font-family: 'Mukta', sans-serif;
}

.about-page-body {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.about-page-title {
  font-size: 50px;
  padding-bottom: 30px;
}

.team-list {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.team-member-name {
  font-size: 25px;
  text-align: center;
}

.team-member {
  background-color: rgb(223, 200, 176);
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 25px;
  width: 225px;
  box-shadow: 0px 0px 5px 0px grey;
}

.about-link:hover {
  color: rgb(65, 153, 124);
}

#links-container {
  padding-left: 15px;
}

#about_link_text {
  font-family: 'Mukta', sans-serif;
  margin-left: 10px;
}
