body {
  font-family: 'Mukta', sans-serif;
  background-color: rgb(244, 239, 235);
  color: rgb(68, 33, 17);
}

.movie_title>h2 {
  background-color: rgb(244, 239, 235);
  font-size: 2rem;
  color: rgb(68, 33, 17);
  margin-top: 1rem;
  margin-left: 2rem;
}

.movie_container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  font-size: 1.4rem;
  margin-left: 2rem;
  width: 95vw;
}

#genre_container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  width: auto;
}

.movie_genre {
  color: rgb(68, 33, 17);
  font-size: 20px;
  font-style: italic;
  text-align: right;
  min-width: 120px;
  width: 120px;
  margin: 15px;
  padding: 5px;
}

img {
  height: 12rem;
  width: 8rem;
  margin-right: 10px;
}


#tooltip {
  position: absolute;
  top: 10;
  left: 10;
  transition: opacity .5s;
  opacity: 0;
  background-color: rgb(245, 245, 245, .8);
  color: rgb(68, 33, 17);
  border-radius: 5px;
}

.movie_covers>a:hover #tooltip {
  opacity: 1;
}
