.main-content-container {
  width: 100%;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.movie-title {
  font-weight: bold;
  font-size: 50px;
  color: rgb(68, 33, 17);
  font-family: 'Mukta', sans-serif;
  margin-left: 20px;
}
.sub-detail-container {
  display:flex;
  flex-direction:row;
  margin: 0 10px;
  padding-left: 30px;
  font-size: 25px;
  color: rgb(68, 33, 17);
  font-family: 'Mukta', sans-serif;
}

.sub-detail-container > p {
  margin: 5px 10px;
  border: solid;
  border-radius: 20px;
  padding: 3px 10px;
}

.movie-details {
  display: flex;
  flex-direction: row;
  margin: 0 10px;
  padding: 10px;
  height: 375px;
}

.movie-cover {
  width: 250px;
  height: 350px;
}

.details-table {
  text-align: start;
  margin-bottom: 100px;
  display: flex;
}

.leftHeader {
  font-weight: bold;
  padding: 0 70px;
  display: flex;
  row-gap: 20px;
  align-content: flex-start;
  margin: 10px 30px;
  color: rgb(68, 33, 17);
  font-family: 'Mukta', sans-serif;
}

body{
  font-family: 'Mukta', sans-serif;
  background-color: rgb(244, 239, 235);
  color: rgb(68, 33, 17);
}

button {
  background:rgb(223, 200, 176);;
  width:125px;
  padding-top:5px;
  padding-bottom:5px;
  color:rgb(68, 33, 17);
  border-radius:4px;
  border-color: rgb(68, 33, 17);
  border: 1px solid;
  margin-top: 20px;
  margin-bottom: 20px;
  /* float:right; */
  font-weight: 600;
}
button:hover {
  background-color: rgb(244, 239, 235);
}

.logoutButton {
  background-color: rgb(244, 239, 235);
}

.logoutButton:hover {
  background:rgb(223, 200, 176);
}

#reviews_container {
    margin: 15px;
}
.all-reviews-container {
  margin: 20px;
}
