.main-content-container {
  width: 100%;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.movie-title {
  font-weight: bold;
  font-size: 100px;
}

.sub-detail-container {
  display:flex;
  flex-direction:row;
  margin: 0 10px;
  font-size: 25px;
}

.sub-detail-container > p {
  margin: 5px 10px;
  border: solid;
  border-radius: 20px;
  /* border-radius: 30px; */
  padding: 10px;
}

.movie-details {
  display: flex;
  flex-direction: row;
  margin: 0 10px;
  padding: 10px;
}

.movie-cover {
  width: 250px;
}

.details-table {
  text-align: start;
  margin-bottom: 100px;
  display: flex;
}

.leftHeader {
  font-weight: bold;
  padding: 0 50px;
  display: flex;
  row-gap: 20px;
  align-content: flex-start;
  margin: 10px 30px;
}

body{
  font-family: 'Mukta', sans-serif;
  background-color: rgb(244, 239, 235);
}
