.rating {
    background-color: rgb(223, 200, 176);
    position: relative;
}

.edit_delete_rating_buttons {
  display: flex;
  
}
div.input_rating {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    flex-direction: row;
    
}

.btn-edit {
    justify-content: center;
    margin:10px;
}

.rate-btn-delete {
    justify-content: center;
    margin:10px;
}

/* div#removableRatingForm {
    display: inline-block;
    vertical-align: middle;
    line-height: normal; 
    flex-direction: row;
} */

/* button#rating_button {
    vertical-align: middle;
} */
