.rating {
    background-color: rgb(223, 200, 176);
    position: relative;
}

.edit_delete_rating_buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start
}

.myRating {
    display: flex;
    flex-direction: row;
}

.ratingDom{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-right: 130px;
}

.ratingDeleteBtn {
    margin-top: 15px;
}

#ratingDeleteContainer {
    display: flex;
    align-items:flex-start
}

div.input_rating {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    flex-direction: row;

}

.btn-edit {
    justify-content: center;
    margin:10px;
}

.rate-btn-delete {
    justify-content: center;
    margin:10px;
}

/* div#removableRatingForm {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    flex-direction: row;
} */

/* button#rating_button {
    vertical-align: middle;
} */
