.rating {
    background-color: rgb(223, 200, 176);
    position: relative;
}

.edit_delete_rating_buttons {
    margin-left: 30px;
    display: flex;
    flex-direction: row;
}

.myRating {
    display: flex;
    /* flex-direction: row; */
}

.ratingDom{
    display: inline-block;
    align-items: flex-start;
}

.your_rating {
    margin-left: 10px;
}

#rating_input {
    width: 40px;
}

#user_rating {
    font-weight: bold;
    margin: 10px 10px 5px 0px;
}

#ratingDeleteContainer {
    display: flex;
    align-items:flex-start
}

div.input_rating {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    flex-direction: row;
}

.btn-edit {
    justify-content: center;
    margin:10px;
}

.rate-btn-delete {
    justify-content: center;
    margin:10px;
}


.rating-form-edit {
    margin: 20px 40px;
}

h2 {
    font-size: 25px;
}

#rating_input {
    text-align:start;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px solid;
    padding: 15px;
    height: 28px;
    border-radius: 4px;
}

#rating_button {
    background:rgb(223, 200, 176);;
    width:125px;
    padding-top:5px;
    padding-bottom:5px;
    color:rgb(68, 33, 17);
    border-radius:4px;
    border-color: rgb(68, 33, 17);
    border: 1px solid;
    margin-left: 10px;
    margin-bottom: 20px;
    font-weight: 600;
  }
  button:hover {
    background-color: rgb(244, 239, 235);
  }
