.shelves_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: 80px;
  /* margin-bottom: 20px; */
  box-shadow: 3px 3px 5px rgb(244, 239, 235);

}

.shelves_title>h2 {
  background-color: rgb(244, 239, 235);
  font-size: 2rem;
  color: rgb(68, 33, 17);
  margin-top: 1rem;
  margin-left: 3rem;
  min-width: 197px;
  border-radius: 7px;
  padding: 0px 10px;
}

.form_div {
  display: flex;
  flex-direction: column;
}

.shelf-form {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-bottom: 10px;
}

.shelf_title {
  height: 35px;
  width: 185px;
  border-radius: 5px;
  border: solid 1px rgb(68, 33, 17);
  padding: 2px 5px;
  color: rgb(68, 33, 17);
}

#shelf_errors {
  padding: 0px;
  margin: 0px;
}

#shelf_error_li {
  padding: 0px;
  font-size: 13px;
}

.shelf_errors {
  text-align: right;
  align-items: flex-end;
  height: 24px;
  position: absolute;
}

.edit-shelf-errors>li {
  margin-left: 55px;
  font-size: 14px;
}

.add-shelf-button {
  background: rgb(223, 200, 176);
  min-width: 125px;
  height: 35px;
  padding: 5px 0px;
  margin: 28px 24px 0px 20px;
  font-size: 15px;
  color: rgb(68, 33, 17);
  border-radius: 4px;
  border-color: rgb(68, 33, 17);
  border: 1px solid;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 0 5px 0 grey;
}

.cancel-shelf-button {
  background: rgb(223, 200, 176);
  min-width: 125px;
  height: 35px;
  padding: 5px 0px;
  margin: 28px 10px 0px 0px;
  font-size: 15px;
  color: rgb(68, 33, 17);
  border-radius: 4px;
  border-color: rgb(68, 33, 17);
  border: 1px solid;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 0 5px 0 grey;
}

.add-shelf-button:hover {
  box-shadow: 2px 2px 2px rgb(68, 33, 17);
}


.shelves {
  margin: 0px 40px;
}

.shelf-tiles {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.shelf-item {
  margin: 20px 20px 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.shelf-item>a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shelf-item>a>div {
  position: absolute;
  background-color: rgb(244, 239, 235, .8);
  border-radius: 5px;
  margin: 10px 5px 10px 7px;
  padding: 5px;
  max-width: 190px;
}

.shelf-item>a:hover>.shelf-img {
  transition: box-shadow .1s;
  box-shadow: 3px 3px 5px black;
}

.shelf-item>a:hover>.shelf-title {
  max-width: 190px;
  transition: font-size .1s;
  font-size: 19px;
}

.shelf-img {
  width: 200px;
  border-radius: 20px;
  box-shadow: 3px 3px 5px grey;
}


.shelf-title {
  font-size: 18px;
  text-align: center;
}

.shelf_buttons_div {
  display: flex;
  flex-direction: row;

}

#shelf_container {
  margin-top: 20px;
}

.movie_covers {
  margin: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;
}

.movie_covers>div>a>img {
  height: 12rem;
  width: 8rem;
  margin-right: 10px;
}

.custom-select-shelves {
  width: auto;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px 0 grey;

.edit-shelf-button {
  background: rgb(223, 200, 176);
  width: 125px;
  height: 35px;
  padding: 5px 0px;
  margin: 0px 10px;
  font-size: 15px;
  color: rgb(68, 33, 17);
  border-radius: 4px;
  border-color: rgb(68, 33, 17);
  border: 1px solid;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 0 5px 0 grey;
}

.edit-shelf-button:hover {
  box-shadow: 2px 2px 2px rgb(68, 33, 17);
}

.delete-shelf-button {
  background: rgb(223, 200, 176);
  width: 125px;
  height: 35px;
  padding: 5px 0px;
  margin: 0px 24px 0px 10px;
  font-size: 15px;
  color: rgb(68, 33, 17);
  border-radius: 4px;
  border-color: rgb(68, 33, 17);
  border: 1px solid;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 0 5px 0 grey;
}

.delete-shelf-button:hover {
  box-shadow: 2px 2px 2px rgb(68, 33, 17);
}

#edit-form-container {
  margin: 20px 4rem;
}


#single-movie-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.remove-shelf-movie-button {
  background: rgb(223, 200, 176);
  width: 50px;
  height: 30px;
  padding: 5px 0px;
  margin: 0px 20px 10px 10px;
  font-size: 10px;
  color: rgb(68, 33, 17);
  border-radius: 4px;
  border-color: rgb(68, 33, 17);
  border: 1px solid;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 0 5px 0 grey;
}

.remove-shelf-movie-button:hover {
  background-color: rgb(68, 33, 17);
  color: rgb(223, 200, 176);
}
