.shelves_title>h2 {
  background-color: rgb(244, 239, 235);
  ;
  font-size: 2rem;
  color: rgb(68, 33, 17);
  margin-top: 1rem;
  margin-left: 2rem;
}

.shelves {
  margin: 0px 40px;
}

.shelf-tiles {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
  width: auto;
}

.shelf-item>a:hover>.shelf-img {
  transition: box-shadow .25s;
  box-shadow: 3px 3px 5px black;
}

.shelf-item>a:hover>.shelf-title {
  transition: font-size .25s;
  font-size: 23px;
}

.shelf-img {
  width: 300px;
  border-radius: 20px;
  box-shadow: 2px 2px 3px black;
}

.shelf-title {
  font-size: 20px;
  text-align: center;
}
