#errors {
  font-family: 'Mukta', sans-serif;
  color: red;
  font-size: 16px;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex;
  margin: 2rem;
}

body {
  color: rgb(68, 33, 17);
  font-family: 'Mukta', sans-serif;
  background-color: rgb(244, 239, 235);
}

.login {
  box-sizing: border-box;
  font-weight: 200;
  font-size: 18px;
  width: 350px;
  height: 350px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px 0;
  margin: auto;
  padding: 30px;
  padding-top: 60px;
  position: relative;
  justify-content: center;
  text-align: center;
}
h3 {
  justify-content: flex-start;
}
h1 {
  text-align: center;
  box-sizing: border-box;
  width: 300px;
  height: 80px;
  background-color: rgb(223, 200, 176);
  border-radius: 10px;
  box-shadow: 0 0 10px 0;
  margin: auto;
  padding: 20px;
  position: relative;
  justify-content: center;
  text-align: center;
}

label {
  margin-right: 10px;
}

#login_button {
  background:rgb(244, 239, 235);
  width:125px;
  padding-top:5px;
  padding-bottom:5px;
  color:rgb(68, 33, 17);
  border-radius:4px;
  border-color: rgb(68, 33, 17);
  border: 1px solid;
  margin-top: 20px;
  margin-bottom: 20px;
  float:none;
  font-weight: 300;
}
#login_button:hover {
  background-color: rgb(223, 200, 176);
}
#demo_button {
  background:white;
  width:125px;
  padding-top:5px;
  padding-bottom:5px;
  color:rgb(68, 33, 17);
  border-radius:4px;
  border-color: rgb(68, 33, 17);
  border: 1px solid;
  margin-top: 20px;
  margin-bottom: 20px;
  float:none;
  font-weight: 300;
}
#demo_button:hover {
  background-color: rgb(223, 200, 176);
}

a {
  color: rgb(68, 33, 17);
  font-weight: 200;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  justify-content: center;
  text-align: center;
}
p {
  justify-content:space-between;
}
